*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
img{
    width:100%
}
a{
    text-decoration: none;
}
.layout{
    margin:0 auto;
    max-width: 450px;

}


/* .layout{
    max-width: 980px;

} */
.header-container{
    background-color: #ff7f00;
    /* margin-block-end: 2.5rem; */
}

.header{
    height:5em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-container .header .nav >* a{
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    font-size: 1.5em;
    margin-inline: 1em;
}
.header-container .header .nav >* a:hover{
    color: #ff7f00
}
.header-container .header .nav >*{
    list-style-type: none;
}
.header-container .header .nav{
    display: flex;
    align-items: center;
}
.header-container .header .logo{
    max-width: 200px;
    margin-inline-start: 1.5em;
}
.search-container{
    background-color: white;
}
.search-container .search{
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0 auto;
}
.search-container .search .input-search{
    margin-inline: 1.5em;
}
.search-container .search .search-img{
    width: 1.2rem;
    height: 1.2rem;
}
 
.gallery-container-grid{
    margin: 0 auto;
    background-color: #e3e3e3;
    display:grid;
    grid-template-columns:repeat(auto-fill ,minmax(80px,450px));
    /* grid-auto-rows: 250px; */
    gap: 10px;
    margin-block-end: 2.5em;
}
.gallery-container-grid >img{ 
    border-radius: 2.5em;
    object-fit: cover;
    cursor: pointer;
} 
.gallery-container-grid >img:hover{ 
    box-shadow: 0 1px 10px 5px  rgb(255, 153, 0);
    transform: scale(1.05);
    transition: .4s;
} 
main{
    background-color: #e3e3e3;
    padding-block-start:2em ;
}
.canvas-container{
    display: none;
    margin-inline: auto;
    flex-direction: column;
}
/* .canvas-container{
    display: none;
    margin-inline: auto;
    margin-block: 3em;
    flex-direction: column;
} */

.canvas-box{
    width:350px;
    height: 350px; 
    margin: 0 auto;
} 

.btns-grid{
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(5, minmax(40px,100px));
    grid-template-rows:50px 50px 50px 50px 80px 80px;
    
}
/* .btns-grid{
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(5, minmax(40px,60px));
    grid-template-rows:100px 60px 60px 75px 125px 100px;
    
} */
.btn{
    background-color: white;
    border-radius: 1rem;
    border: .05em solid rgb(60,60,60);
}
.btn img{
    width: 2.5em;
    height: 2.5em;
}


main .canvas-container .btns-grid .input-text-container{
    grid-column: span 5;
}
.input-text{
    width:80%;
    height: 2.5em;
    font-size:1.2em;
    text-align: center;
    margin-block: 1.5em;
    border-radius: .5em;
}
main .canvas-container .btns-grid .arrow-up-box{
    grid-row:2/3;
    grid-column: 1/2;
}
main .canvas-container .btns-grid .line-up-box{
    grid-row:2/3;
    grid-column: 2/3;
}
main .canvas-container .btns-grid .add-meme-box{
    grid-row:2/3;
    grid-column: 3/4;
    
}
main .canvas-container .btns-grid .trash-box{
    grid-row:2/3;
    grid-column: 4/5;
}
main .canvas-container .btns-grid .arrow-down-box{
    grid-row: 2/3;
    grid-column: 5/6;
}
main .canvas-container .btns-grid .increase-font-box{
    grid-row:3/4;
    grid-column: 1/2;
}
main .canvas-container .btns-grid .decrease-font-box{
    grid-row:3/4;
    grid-column: 2/3;
}
main .canvas-container .btns-grid .align-left-box{
    grid-row:3/4;
    grid-column: 3/4;
}
main .canvas-container .btns-grid .align-center-box{
    grid-row:3/4;
    grid-column: 4/5;
}
main .canvas-container .btns-grid .align-right-box{
    grid-row:3/4;
    grid-column: 5/6;
}
main .canvas-container .btns-grid .font-select-box{
    grid-row:4/5;
    grid-column: span 3;
}
main .canvas-container .btns-grid .font-select-box .select-font{
    width: 90%;
    border:.05em solid rgb(60,60,60);
    padding: 1em;
    border-radius: 1em;
}
main .canvas-container .btns-grid .stroke-color-box{
    grid-row:4/5;
    grid-column:4/5;
}
main .canvas-container .btns-grid .fill-color-box{
    grid-row:4/5;
    grid-column: 5/6;
}
main .canvas-container .btns-grid .stroke-color-box .input-stroke{
    background-color: white;
    border-radius: .5em;
    
}
main .canvas-container .btns-grid .fill-color-box .input-fill{
    background-color: white;
    border-radius: .5em;
}
main .canvas-container .btns-grid .emojies{
    grid-row:5/6;
    grid-column: span 5;
    border:.05em solid rgb(60,60,60);
    background-color: white;
    border-radius: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .canvas-container .btns-grid .emojies img{
    width: 50px;
}
main .canvas-container .btns-grid .down-up-load-box{
    grid-row:6/7;
    grid-column: span 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .canvas-container .btns-grid .down-up-load-box .download{
    font-size: 1.6em;
    padding: .4em;
    margin-inline: .5em;
    color:white;
    background-color: #ff7f00;
}
main .canvas-container .btns-grid .down-up-load-box .upload{
    font-size: 1.6em;
    padding: .4em;
    margin-inline: .5em;
    color:white;
    background-color: #ff7f00;
}

footer{
    height: 200px;
    background-color: #ff7f00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color:white;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:650px){
    .btn-menu {
        font-size: 2rem;
        display: inline-block;
        background: none;
        color:whitesmoke;
        border:none;
    }
    .nav {
        position: fixed;
        right: 0;
        top:50px;
        height: 100vh;
        flex-direction: column;
        border-inline-start: 1px solid #ccc;
        background-color: rgb(60 60 60 / 90%);
        width: 100%;
        transform: translateX(100%);
        transition: transform .6s; 
    } 
    .nav > li:first-child{
        margin-block: 20px;
    }
    .nav > li:not(:first-child){
        margin-block-end: 20px;
    }
    .nav.menu-open {
        transform: translateX(0);
    }
}
@media (min-width:530px){
    .layout{
    margin: 0 auto;
    max-width: 570px;
    }
    .canvas-box{
        width: 400px;
        height: 400px;
    }
    .gallery-container-grid{
        width: 100%;
        background-color: #e3e3e3;
        display:grid;
        grid-template-columns:repeat(auto-fit, minmax(100px, 250px));
        grid-auto-flow: row;
        gap: 10px;
    }
}
@media (min-width:650px){
    
    .layout{
        margin: 0 auto;
        max-width: 640px;
        }
        .btn-menu{
            display: none;
        }
        .header-container .header .nav{
            position: static;
            transform: translateX(0%);
        }
      
    .canvas-box{
            width: 600px;
            height: 600px;
        }
        main .canvas-container .btns-grid{
            display:grid;
            grid-template-columns: repeat(5, minmax(40px,124px));
            grid-template-rows: 100px 60px 60px 75px 125px 100px;
            
        }
    .gallery-container-grid{
        /* margin: 0 auto; */
        width: 100%;
        background-color: #e3e3e3;
        display:grid;
        grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
        /* grid-auto-rows: 210px; */
        grid-auto-flow: row;
        gap: 10px;
        margin-block-end: 2.5em;
    }
}
/* @media (min-width:850px) {
    .canvas-container{
        display: none;
        max-width: 980px;
        margin-inline: auto;
        margin-block: 3em;
        flex-direction: row;
    } */
    /* .canvas-box{
        width: 600px;
        height: 600px;
    } */
    /* main .canvas-container .btns-grid{
        display:grid;
        grid-template-columns: repeat(5, minmax(40px,60px));
        grid-template-rows: 100px 60px 60px 75px 125px 100px;
        
    } */

/* } */
@media (min-width:980px){
    .layout{
        max-width: 980px;
    }
    .canvas{
        width:600px ;
        height: 600px;
    }
    .canvas-container{
        display: none;
        max-width: 980px;
        margin-inline: auto;
        margin-block: 3em;
        flex-direction: row;
    } 
.gallery-container-grid{
    margin: 0 auto;
    background-color: #e3e3e3;
    display:grid;
    grid-template-columns:repeat(auto-fill ,minmax(200px,1fr));
    /* grid-auto-rows: 250px; */
    gap: 20px;
    margin-block-end: 2.5em;
}

}

    